@charset "utf-8";
body{
overflow:visible;
}

*{
	margin:0px;
	padding:0px;
}

body
{

  background-color: rgb(218,218,218);
}

div.main
{
    width:1000px;
    margin: 20px auto 0px auto;
    height:800px;
    background-color:rgb(240,240,240);
    padding:5px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
}
div.row0
{	

  width:1000px;
  height:200px;
  border: 1px solid rgb(10,186,85);
  -webkit-border-top-right-radius:20px;
	-moz-border-top-right-radius:20px;
	-moz-border-top-left-radius:20px;
	-webkit-border-top-left-radius:20px;
	border-bottom:0px;
	background: rgb(5,186,132) url(../img/overlay.png) repeat-x;
  
}

div.r2c1 p
{
	color:rgb(5,186,132);
}

div.logo
{
  background-color:rgb(255,255,255);
  width:800px;
  height: 150px;
  display:block;
  box-shadow:  5px 5px 10px rgb(255,255,255);
   -webkit-border-radius:20px;
	-moz-border-radius:20px;
	margin-left:100px;
	margin-right:100px;
	margin-bottom:25px;
	margin-top:25px;

}

div.logo h1
{
	color:rgb(5,186,132);
	text-shadow:5px 5px 10px rgb(27,152,99);
  font-size:100px;
  margin-left:290px;
}
div.logo h4
{
	color:rgb(5,186,132);
  font-size:23px;
  margin-left:240px;
}

div.row1
{
	background-color:rgb(255,255,255);
	width:1000px;
	height:280px;
	border: 1px solid rgb(10,186,85);
	border-top:2px solid rgb(10,186,85);
	border-bottom:0px;
	
}
div.row2
{
	background-color:rgb(255,255,255);
	border: 1px solid rgb(10,186,85);
	width:1000px;
	height:320px;
	border-top:0px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-bottom-right-radius:20px;
	-moz-border-bottom-left-radius:20px;
	-webkit-border-bottom-left-radius:20px;
}
div.r1c1
{
	background-color:rgb(255,255,255);
	width:400px;
	height:280px;
	float:left;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
}
div.r1c2
{
	background-color:rgb(255,255,255);
	width:600px;
	height:280px;
	float:left;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
}
div.r2c1
{
	width:620px;
	height:300px;
	float:left;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-bottom-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-top-right-radius:0px;
	-webkit-border-top-right-radius:0px;
	border-right: 1px dashed rgb(10,186,85);
	margin:10px;
}
h2
{
 color:rgb(5,186,132);
 text-align:center;
 text-decoration:underline;
}
div.r2c2
{
	background-color:rgb(255,255,255);
	width:350px;
	height:320px;
	float:left;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
}
img.canvas
{
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	margin-left: 5px;
	margin-right:5px;
	margin-bottom:5px;
	margin-top:5px;
}
ul li a
{
	display:block;
	background: rgb(5,186,132) url(../img/overlay.png) repeat-x;
    padding: 8px 10px 8px;
    color: rgb(255,255,255);
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    cursor: pointer;
    font-size:18px;
    margin:10px;
	margin-top:20px;
	margin-left:20px;
	margin-right:20px;
	border: 2px solid rgb(10,186,85);
}
ul li a:hover
{
	display:block;
	background: rgb(27,152,99) url(../img/overlay.png) repeat-x;
    padding: 8px 10px 8px;
    color: rgb(255,255,255);
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    cursor: pointer;
    font-size:18px;
    margin:10px;
	margin-top:20px;
	margin-left:20px;
	margin-right:20px;
	border: 2px solid rgb(10,186,85);
}
ul 
{
	list-style-type: none;
}
ul li#first
{
  margin-top:30px;
}
ul li#last
{
  margin-bottom:30px;
}